.with-sidebar {
	display: flex;
	flex-wrap: wrap;
	/* gap: var(--gutter,var(--s1)); */
	/* stretchがdefaultなので高さが揃う。flex-startにすれば高さは揃わない */
	/* align-items: flex-start; */
}

.sidebar {
	/* サイドバーたりうる幅 */
	flex-basis: 20rem;
	flex-grow:1;
	background-color: pink;
}

.not-sidebar {
	/* 0から伸長する */
	flex-basis:0;
	flex-grow:999;
	/* 要素の幅が等しくなった場合に折り返す */
	min-width:50%;
	background: purple;
}