.cover {
	--space: var(--s1);
	display: flex;
	flex-direction: column;
	padding: var(--space);
	/* ビューポートの高さを基準にして最小の高さを設定 */
	min-height:100vh;
}

/* 各子要素に最小のmarginを設定 */
.cover > * {
	margin-top: var(--space);
	margin-bottom: var(--space);
}

/* 中央に配置したいコンテンツ */
.cover > h1 {
	margin-top: auto;
	margin-bottom: auto;
}

.cover > :first-child:not(h1) {
	margin-top: 0;
}

.cover > :last-child:not(h1){
	margin-bottom: 0;
}